/* MARK: A11Y ----------
*/

@layer a11y {
  nav input:focus-visible+label {
    outline: 0.1rem solid var(--primary-highlight-color);
  }

  /* Hiding class, making content visible only to screen readers but not visually */
  /* "sr" meaning "screen-reader" */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
}
